
  <%- include('layout/header') %>
  
  <% if (typeof message !== 'undefined' && message !== null) { %>
    <div class="alert alert-<%= message.type %>"><%= message.message %></div>
  <% } %>
  <div class="page__frame__add">
    <div id="star-form">
      <h2 class="header my-4 white">Dodaj konstelacje</h2>
      <form  method="post"  enctype="multipart/form-data">
        <div class="form-group">
          <label for="name" class="text-white">Nazwa:</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="description" class="text-white">Opis:</label>
          <textarea class="form-control" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="stars">Stars</label>
          <select id="stars" name="stars[]" multiple="multiple">
            <% stars.forEach(star => { %>
              <option value="<%= star._id %>"><%= star.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="image" class="text-white">Wybierz zdjęcie:</label>
          <input class="form-control" type="file" name="image" required>
        </div>
        <div class="button__pad">
          <button type="submit" class="default__button__submit" id="add-star">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
    $('#stars').select2({
      placeholder: 'Wybierz gwiazdy',
      allowClear: true,
      closeOnSelect: false,
      width: '100%'
    });
  });
</script>

  <!--  -->
<%- include('layout/footer') %>
