
<%- include('layout/header') %>
<div class="container">
  <h1 class="my-5 text-dark">AdAstra</h1>
  <div id="star-form" class="border p-4 mb-5 bg-white">
    <h2 class="my-4 text-dark">Edytuj ciało niebieskie <%= star.name  %></h2>
    <form action="/edit/<%= star._id  %>" method="post" id="add-form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name" class="text-dark">Nazwa:</label>
        <input type="text" value="<%= star.name  %> " class="form-control" name="name" required>
      </div>
      <div class="form-group">
        <label for="coordinates" class="text-dark">Współrzedne:</label>
        <input type="text" value="<%= star.coordinates  %> " class="form-control" name="coordinates" required>
      </div>
      <div class="form-group">
        <label for="description" class="text-dark">Opis:</label>
        <textarea class="form-control" name="description" required><%= star.description %></textarea>
    </div>
      <div class="form-group">
        <label for="image" class="text-dark">Wybierz zdjęcie:</label>
        <input class="form-control" type="file" name="image" >
        <img src="/<%= star.image  %>" width="100" class="img-thumbnail mt-1"> </img>
      </div>
      <input type="hidden" name="old_image" value="<%= star.image %>"/>
      <button type="submit" class="btn btn-success btn-block" id="add-star">Zapisz</button>
    </form>
  </div>
</div>

<%- include('layout/footer') %>
