
<%- include('layout/header') %>
<div class="page__frame__add">
  <div id="star-form">
    <h2 class="header my-4 white">Edytuj ciało niebieskie <%= star.name  %></h2>
    <form action="/edit/<%= star._id  %>" method="post" id="add-form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name" class="text-white form-label">Nazwa:</label>
        <input type="text" class="form-control" value="<%= star.name  %> " name="name" required>
      </div>
      <div class="form-group">
        <label for="description" class="text-white form-label">Opis:</label>
        <textarea class="form-control" name="description" required><%= star.description %></textarea>
      </div>
      <div class="form-group">
        <label for="image" class="text-white">Aktualne zdjęcie:</label>
        <br>
        <img src="/<%= star.image %>" alt="<%= star.name %>" width="300">
      </div>
      <div class="form-group">
        <label for="new_image" class="text-white">Wybierz nowe zdjęcie:</label>
        <input class="form-control" type="file" name="new_image">
      </div>
      <input type="hidden" name="old_image" value="<%= star.image %>">
      <div class="button__pad">
        <button type="submit" class="default__button__submit" id="update-star">Zaktualizuj</button>
      </div>
    </form>
  </div>
</div>

<%- include('layout/footer') %>
