<%- include('layout/header') %>
<div class="page__frame">
<div class="container__list">
  <div id="star-list" class="my-5">
    <% if (message) { %>
     <div class=" alert alert-dismissible fade show alert-<%= message.type %>  " role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message  %></strong>
      </div>
        <% } %>
    <h2>Lista obiektów</h2>
    <% if (stars!=''  ) { %>
      <table class="table my-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Współrzędne</th>
            <th>Opis</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <% stars.forEach((row, index) => { %>
           <tr class="align-middle">
            <td> <%=index  %></td>
            <td> <img src="<%=row.image%>" width="50" class="img-thumbnail" /></td>
            <td> <%=row.name  %></td>
            <td> <%=row.description  %></td>
            <td> <%=row.coordinate  %></td>
            <td> 
              <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
              <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
            </td>
           </tr>
          <% }) %>
        </tbody>
      </table>
    <% }  else { %>
     <h1 class="text-center text-secondary mt-5">No stars found in database</h1>>
<% } %>
  </div>
</div> 
 <div class="container__sky">
  <% stars.forEach((row, index) => { %>
    <div class="star" id="star-<%= index + 1 %>" data-id="<%= row._id %>">
    </div>
  <% }) %>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="./script.js"></script>
    <script>
$(document).ready(function() {
    $(".star").draggable({
        containment: ".container__sky"
    });

    $(".star").on("dragstop", function() {
        var position = $(this).position();

        localStorage.setItem($(this).attr("id"), JSON.stringify(position));
    });

    $(".star").each(function() {
        var id = $(this).attr("id");
        var position = JSON.parse(localStorage.getItem(id));

        if (position !== null) {
            $(this).css({
                top: position.top,
                left: position.left
            });
        }
    });

    function scaleStars() {
        var skyHeight = $(".container__sky").height();
        var skyWidth = $(".container__sky").width();

        $(".star").each(function() {
            var starWidth = skyWidth * 0.005; 
            var starHeight = starWidth; 
            var starLeft = parseFloat($(this).css("left")) / skyWidth; 
            var starTop = parseFloat($(this).css("top")) / skyHeight; 

            $(this).css({
                "width": starWidth,
                "height": starHeight,
                "left": starLeft * 100 + "%",
                "top": starTop * 100 + "%"
            });
        });
    }


    scaleStars();
    $(window).resize(scaleStars);
});



    </script>
<%- include('layout/footer') %>
















