<%- include('layout/header') %>
<div class="page__frame">
<div class="container__list">
  <div id="star-list" class="list__frame my-2">
    <% if (message) { %>
     <div class=" alert alert-dismissible fade show alert-<%= message.type %>  " role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message  %></strong>
      </div>
        <% } %>
    <p class="header">Mapa nieba<p>
    <% if (stars!=''  ) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Nazwa</th>
            <th>Współrzędne</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <% stars.forEach((row, index) => { %>
           <tr class="align-middle">
            <td> <img src="<%=row.image%>"class="small_img" /></td>
            <td> <%=row.name  %></td>
            <td> <%=row.coordinate  %></td>
            <td> 
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" checked role="switch" id="flexSwitchCheckDefault">
              </div>
              <!-- <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
              <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a> -->
            </td>
           </tr>
          <% }) %>
        </tbody>
      </table>
    <% }  else { %>
     <h1 class="text-center text-secondary mt-5">Nie znaleziono żadnego obiektu w bazie</h1>>
<% } %>
  </div>
</div> 
 <div class="container__sky" id="container__sky">
  <% stars.forEach((row, index) => { %>
    <div class="star" id="star-<%= index + 1 %>" data-id="<%= row._id %>">
      <p class="name">"<%= row.name %>"</p>
    </div>
  <% }) %>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="./script.js"></script>
    <script>

//filter
const checkboxes = document.querySelectorAll('.form-check-input');
checkboxes.forEach(checkbox => {
  checkbox.addEventListener('change', filterStars);
});
function filterStars() {
  const checkboxes = document.querySelectorAll('.form-check-input');
  const stars = document.querySelectorAll('.star');

  checkboxes.forEach((checkbox, index) => {
    if (checkbox.checked) {
      stars[index].style.display = 'block';
    } else {
      stars[index].style.display = 'none';
    }
  });
}


$(document).ready(function() {
    $(".star").draggable({
        containment: ".container__sky"
    });

    $(".star").on("dragstop", function() {
        var position = $(this).position();

        localStorage.setItem($(this).attr("id"), JSON.stringify(position));
    });

    $(".star").each(function() {
        var id = $(this).attr("id");
        var position = JSON.parse(localStorage.getItem(id));

        if (position !== null) {
            $(this).css({
                top: position.top,
                left: position.left
            });
        }
    });

    function scaleStars() {
        var skyHeight = $(".container__sky").height();
        var skyWidth = $(".container__sky").width();

        $(".star").each(function() {
            var starWidth = skyWidth * (Math.random() * 0.006) + 0.002; 
            var starHeight = starWidth; 
            var starLeft = parseFloat($(this).css("left")) / skyWidth; 
            var starTop = parseFloat($(this).css("top")) / skyHeight; 

            $(this).css({
                "width": starWidth,
                "height": starHeight,
                "left": starLeft * 100 + "%",
                "top": starTop * 100 + "%"
            });
        });
    }

    function displayMoon(){
        var skyHeight = $(".container__sky").height();
        var skyWidth = $(".container__sky").width();

        $(".star").each(function() {
            var starWidth = skyWidth * (Math.random() * 0.006) + 0.002; 
            var starHeight = starWidth; 
            var starLeft = parseFloat($(this).css("left")) / skyWidth; 
            var starTop = parseFloat($(this).css("top")) / skyHeight; 

            $(this).css({
                "width": starWidth,
                "height": starHeight,
                "left": starLeft * 100 + "%",
                "top": starTop * 100 + "%"
            });
        });
    }


    scaleStars();
    $(window).resize(scaleStars);

    function blinkStars() {
  setTimeout(function() {
    $(".star").addClass("blink");
    setTimeout(function() {
      $(".star").removeClass("blink");
      blinkStars();
    }, 600);
  }, 2000 + Math.random() * 600);
}

    blinkStars(); // call the function

});


const starsDivs = document.querySelectorAll('.star');
starsDivs.forEach(starDiv => {
  starDiv.addEventListener('click', () => {
    const starId = starDiv.dataset.id;

    // Wykonanie żądania AJAX, aby pobrać szczegóły danej gwiazdy
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        const starDetails = JSON.parse(this.responseText);

        // Wyświetlenie szczegółów danej gwiazdy w divie z klasą "container__sky"
        const containerSkyDiv = document.querySelector('.container__sky');
        containerSkyDiv.innerHTML = `
        <div>
            <h2>${starDetails.name}</h2>
            <img src="${starDetails.image}" />
            <p>Współrzędne: ${starDetails.coordinate}</p>
            <p>${starDetails.description}</p>
            <div>
              <a href="/edit/${starDetails._id}" class="btn btn-success"><i class="fas fa-edit fa-lg mx-1"></i>Edytuj</a>
              <a href="/delete/${starDetails._id}" class="btn btn-danger"><i class="fas fa-trash fa-lg mx-1"></i>Usuń</a>
              <button class="btn btn-secondary mt-3 back-button"><i class="fas fa-chevron-left"></i> Powrót</button>
            </div>
          </div>
        `;

        const backButton = document.querySelector('.back-button');
        backButton.addEventListener('click', () => {
          window.location.reload();
        });
      }
    };
    xhr.open('GET', `/details/${starId}`, true);
    xhr.send();
  });
});
    </script>
<%- include('layout/footer') %>
















